.notification__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.notification__message {
  font-size: 1.35rem;
  text-align: center;
}

.notification__title {
  font-size: 2.2rem;
  font-weight: 900;
  padding: 10px 0;
  margin-bottom: 15px;
  text-align: center;
}

.notification__wrapper {
  padding: 10px 18px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 180px;
  width: 250px;
  z-index: 10;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid white;
}

.notification__fade-in {
  transition: opacity 1s ease;
}

.notification__fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}
