.row {
  margin-left: 20px;
  color: #fff;
  overflow-y: hidden;
  overflow-x: scroll;
  z-index: 0;
}

.hide-row {
  z-index: 0;
  overflow: visible;
}

.row::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-width: 300px;
  min-width: 300px;
  object-fit: cover;
  height: 100%;
  max-height: 168px;
  cursor: pointer;
  box-shadow: 0px 3px 10px #000;
  transition: box-shadow 400ms;
  border-radius: 6px;
}

.row__poster_container {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  transition: transform 400ms;
}

.poster_hidden {
  transform: scale(1);
}

.row__poster_container:hover {
  transform: scale(1.04);
  opacity: 1;
}

.row__poster_container:hover .row__poster {
  box-shadow: 0px 10px 10px #000;
}

.row__poster_name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.row__posters {
  display: flex;
  /* overflow-y: hidden;
  overflow-x: scroll; */
  padding: 20px;
  position: relative;
}

.row__posters_wrapper {
  position: relative;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters_container {
  display: flex;
  width: 100%;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .row__posters {
    padding: 20px 20px 20px 5px;
  }

  .row__poster {
    max-width: 250px;
  }
}
