.dropdown {
  width: 180px;
  background-color: #000000e6;
  line-height: 21px;
  position: absolute;
  left: -140px;
  top: 65px;
  padding: 0;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
}

.dropdown__arrow {
  position: absolute;
  left: 50px;
  top: -35px;
  color: #e5e5e5;
  font-size: 1.6rem;
  padding-top: 20px;
  padding-left: 100px;
}

.dropdown__profiles {
  border-bottom: 1px solid white;
  height: auto;
  padding: 10px 0 10px;
}

.dropdown__profiles_list {
  list-style: none;
  padding: 0;
}

.dropdown__profiles_item {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 85%;
  cursor: pointer;
}

.dropdown__profiles_item:hover > p {
  text-decoration: underline;
}

.dropdown__profile_icon {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  margin-right: 10px;
  object-fit: cover;
  object-position: 50% 10%;
  background: whitesmoke;
}

.dropdown__profiles_manage {
  color: #fff;
  margin-right: 15px;
  margin-left: 5px;
}

.dropdown__profile_name {
  font-size: 13px;
}

.dropdown__settings {
  padding: 12px 0;
  border-bottom: 1px solid white;
}

.dropdown__settings_item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 10px;
  color: #fff;
  cursor: pointer;
}

.dropdown__settings_item:hover > p {
  text-decoration: underline;
}

.dropdown__settings_item_icon {
  color: #b3b3b3;
  padding: 0 13px 0 5px;
}

.dropdown__settings_links {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.dropdown__settings_link {
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown__settings_link:hover {
  text-decoration: underline;
}
