.add {
  color: white;
  background-color: black;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  height: 86% !important;
}

.add:hover {
  outline: 2px inset #fff;
  outline-offset: -2px;
}

.add_content {
  margin-top: 25px;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.hovering {
  margin-top: 58px;
  font-size: 2.5rem;
}

.profile__actions {
  margin-top: 45px;
}

.profile__manage_btn {
  padding: 6px 20px;
  background: transparent;
  color: white;
  border: 1px solid white;
  opacity: 0.5;
  font-size: 0.75rem;
  cursor: pointer;
}

.profile__manage_btn:hover {
  opacity: 1;
}

.edit_btn {
  background-color: white;
  color: black;
  border: 1px solid transparent;
  opacity: 1;
}

.edit_btn:hover {
  background-color: blue;
  color: white;
  font-weight: 600;
}

.edit-icon {
  color: #fff;
  position: absolute;
  height: 100%;
  /* width: 40%; */
  width: 5vw;
  left: 30%;
  top: -13px;
  z-index: 1;
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  animation: displayProfiles 250ms ease-in forwards;
}

.profile__container h3 {
  color: #fff;
  margin: 25px 0 !important;
  font-size: 2.25rem;
  font-weight: 400;
}

.profile__list {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
}

.profile__page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #111;
}

.profile__user {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  width: 20vw;
  height: 100%;
  max-width: 250px;
  min-height: 179px;
}

.editing {
  opacity: 0.35;
}

.profile__user:hover > .profile__user_avatar {
  outline: 2px inset #fff;
  outline-offset: -2px;
}

.profile__user:hover > .profile__user_name {
  opacity: 1;
}

.profile__user_avatar {
  border-radius: 6px;
  border: 2px solid transparent;
  object-fit: cover;
  /* object-position: center center; */
  object-position: 50% 20%;
  background: rgb(5, 5, 5);
  height: 87%;
  width: 100%;
}

.profile__user_name {
  color: #fff;
  opacity: 0.5;
  font-size: 0.85rem;
  margin-top: 5px;
}

@keyframes displayProfiles {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .add {
    height: 70px !important;
    width: 69% !important;
  }
  .add_content {
    font-size: 5rem;
    margin-top: -18px;
  }
  .hovering {
    font-size: 2.5rem;
    margin-top: 30px;
  }
  .edit-icon {
    left: 25px;
  }
  .profile__actions {
    margin-top: 30px;
  }

  .profile__container h3 {
    color: #fff;
    margin: 25px 0 !important;
    font-size: 2.5rem;
    font-weight: 400;
  }

  .profile__list {
    padding: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .profile__user_avatar {
    height: 87%;
    width: 80%;
  }
  .profile__user {
    margin: 0 3px;
    min-width: 12vh;
    min-height: 14vh;
    max-width: 100%;
    width: 85%;
    align-items: center;
  }
  .profile__user:hover > .profile__user_avatar {
    outline: 2px inset #fff;
    outline-offset: -2px;
    opacity: 0.5;
  }

  .profile__user_name {
    font-size: 3rem;
    width: 100%;
    position: absolute;
    top: 20px;
  }
}
