@font-face {
  font-family: 'Rexlia';
  src: local('Rexlia'), url(./assets/fonts/rexlia_rg.otf) format('opentype');
}
@font-face {
  font-family: 'Gasalt';
  src: local('Gasalt'), url(./assets/fonts/Gasalt-Black.ttf) format('opentype');
}
@font-face {
  font-family: 'Ferrum';
  src: local('Ferrum'), url(./assets/fonts/ferrum.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

p,
a,
li {
  font-family: Ferrum;
}

h2 {
  font-family: Rexlia;
}

h4 {
  font-family: Gasalt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
