.placeholder {
  border-radius: 5px;
  background-color: rgb(22, 22, 22);
  background: linear-gradient(
    to bottom right,
    rgb(22, 22, 22) 46%,
    rgba(40, 40, 40, 0.55) 50%,
    rgb(22, 22, 22) 54%
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  animation: moveShine 1.25s infinite linear;
  cursor: default;
}

@keyframes moveShine {
  0% {
    background-position: 100% 100%; /*OR bottom right*/
    background-color: rgb(22, 22, 22);
  }

  50% {
    background-color: rgba(255, 255, 255);
  }

  100% {
    background-position: 0 0; /*OR top left*/
    background-color: rgb(22, 22, 22);
  }
}
