.auth_loading_spinner {
  width: 125px;
  height: 125px;
  border: 12px solid;
  border-color: #9147ff transparent #9147ff transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  margin: auto;
  top: 272px;
  position: relative;
}

.auth_login__loading {
  width: 100%;
  height: 100%;
}
