.main_row {
  margin-left: 20px;
  color: #fff;
}

.main_row__row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.main_row__poster_container {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  height: 250px;
  transition: transform 400ms;
  cursor: pointer;
}

.main__poster_name {
  position: absolute;
  bottom: 2px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.main_row__row_posters::-webkit-scrollbar {
  display: none;
}

.main_poster {
  height: 100%;
  margin-right: 10px;
}

.main_row__poster_container:hover {
  transform: scale(1.09);
}

.main_row__filters {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.main_row__filters h2 {
  text-transform: uppercase;
  margin-right: 5px;
}

.filters_filter {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.7rem;
  text-transform: uppercase;
  cursor: pointer;
}

.arrow,
.arrow_active {
  transition: all 250ms;
}

.arrow_active {
  transform: rotate(180deg);
}

.filters_filter:hover > .arrow {
  transform: rotate(180deg);
}

.filter_options {
  position: absolute;
  background-color: #000000e6;
  width: 6rem;
  height: 6rem;
  left: 170px;
  top: 30px;
  border-radius: 5px;
  z-index: 2;
}

.filter_options ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  justify-content: space-evenly;
}

.filter_options ul li {
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.filter_options ul li:hover {
  background-color: white;
  color: black;
}
