.main_row {
  margin-left: 20px;
  color: #fff;
}

.main_row__row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.main_row__poster_container {
  max-width: 28rem;
  min-width: 28rem;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  height: 18rem;
  transition: transform 400ms;
  /* perspective: 1000px; */
}

.main_row__poster_container:hover {
  transform: translate3d(1px, -3px, 0px);
}

.poster__gradient_top,
.poster__gradient_bottom {
  height: 7.4rem;
  position: absolute;
  width: 100%;
  border-radius: 6px;
  z-index: 1;
}

.poster__gradient_top {
  left: 0;
  top: 0;
  background-image: linear-gradient(
    0deg,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.41)
  );
}

.poster__gradient_bottom {
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.41),
    rgba(0, 0, 0, 0.4)
  );
  height: 2rem;
}

.main_row__loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
}

.main_row__spinner {
  width: 6rem;
  height: 6rem;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.main__poster_name {
  z-index: 1;
  position: absolute;
  bottom: 2px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: 98%;
}
.main__poster_released {
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95rem;
}

.main_row__row_posters::-webkit-scrollbar {
  display: none;
}

.main_poster {
  height: 100%;
  border-radius: 6px;
  -webkit-filter: drop-shadow(3px 4px 3px #000);
  filter: drop-shadow(3px 4px 3px #000);
  width: 100%;
}

.main_row__filters {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.main_row__filters h2 {
  text-transform: uppercase;
  margin-right: 5px;
}

.filters_filter {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.6rem;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
}

.arrow,
.arrow_active {
  transition: all 250ms;
}

.arrow_active {
  transform: rotate(180deg);
}

.filters_filter:hover > .arrow {
  transform: rotate(180deg);
}

.filter_options {
  position: absolute;
  background-color: #000000e6;
  width: 6rem;
  height: 6.5rem;
  left: 170px;
  top: 30px;
  border-radius: 6px;
  z-index: 2;
}

.filter_options ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  justify-content: space-evenly;
}

.filter_options ul li {
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-weight: 500;
  padding: 7px 0;
}

.filter_options ul li:nth-child(1) {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.filter_options ul li:nth-child(3) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.filter_options ul li:hover {
  background-color: white;
  color: black;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main_row__poster_container {
    height: 15rem;
    max-width: 20rem;
    min-width: 20rem;
  }

  .main_row__row_posters {
    padding: 10px 20px 20px 5px;
  }
}

@media screen and (min-width: 1440px) {
  .main_row__poster_container {
    height: 22rem;
    max-width: 34rem;
    min-width: 34rem;
  }
}
