.gradient {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(30deg);
  transform-origin: top right;
  width: 200%;
  height: 60%;
  opacity: 0.25;
  background: linear-gradient(
    0turn,
    transparent 0%,
    rgba(200, 200, 200, 0.4) 5%,
    rgba(255, 255, 255, 0.2) 15%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.list_item {
  position: relative;
  border-radius: 6px;
  transform-style: preserve-3d;
  transition: all 250ms ease-in-out;
  z-index: 3;
  margin: 6px auto 15px 15px;
  overflow: hidden;
  transform-origin: 100% 0;
  /* box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4); */
  box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.43);

  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.list_item:hover {
  transform: translate3d(0, 0, 0) scale(1.1);
  transform: rotateX(10deg);
  box-shadow: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}

.list_item:hover .gradient {
  height: 90%;
  opacity: 0.95;
}

.list_item_favorite {
  font-size: 0.8rem;
  position: relative;
  left: 15px;
  color: gold;
}

.spotlight_container {
  cursor: pointer;
  height: 100%;
  width: 30.5%;
  position: relative;
  box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.1);
  border-radius: 10px;
  filter: drop-shadow(0 0 5px #b0c4de);
  overflow: hidden;
}

.spotlight_container:hover .spotlight_image {
  transform: scale(1.5);
  opacity: 0.1;
}

.spotlight_container:hover .spotlight_details {
  opacity: 1;
}

/* .spotlight_container:hover .spotlight_trophy_image {
  opacity: 0;
} */

.spotlight_container:nth-last-of-type(2) {
  filter: drop-shadow(0 0 5px gold);
}

.spotlight_container:nth-last-of-type(1) {
  filter: drop-shadow(0 0 5px #cd7f32);
}

.spotlight_details {
  opacity: 0;
  position: absolute;
  top: 126px;
  font-size: 5rem;
  left: 65px;
}

.spotlight_filters {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 25px 22px 18px;
}

.spotlight_filter {
  font-size: 1.6rem;
  letter-spacing: 2px;
  position: relative;
  cursor: default;
}

.spotlight_filter__options {
  display: flex;
  padding: 0;
  list-style: none;
}

.spotlight_filter__options li {
  font-size: 0.8rem;
  margin-right: 10px;
  color: grey;
  transition: 250ms;
  user-select: none;
}

.spotlight_filter__options li:hover {
  color: white;
  cursor: pointer;
}

.spotlight_filter__arrow {
  position: absolute;
  top: 6px;
  font-size: 1.5rem;
}

.spotlight_image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
  filter: none;
  object-fit: cover;
}

.spotlight_trophy_image {
  height: 80px;
  width: 75px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.title_list__item {
  color: rgba(255, 255, 255, 0.7);
  padding: 4px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 1px 1px 5px;
  font-size: 1.2rem;
}

.title_list__item p {
  pointer-events: none;
}

.title_list__item:last-of-type {
  margin: 1px 2px 2px;
}

.title_list__item:hover {
  background-color: rgb(71, 133, 156);
  color: white;
  /* font-weight: 900; */
}

.title_list__item img {
  height: 30px;
  min-width: 31px;
  max-width: 31px;
  margin-right: 4px;
  pointer-events: none;
  border-radius: 2px;
}

.user_collection__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  position: relative;
  top: 11px;
}

.user_collection__actions button {
  cursor: pointer;
  padding: 9px 32px;
  border-radius: 5px;
}

.user_collection__arrow {
  display: none;
}

.user_collection__container {
  display: flex;
  height: 100%;
  background: linear-gradient(120deg, #00adee, #000000);
}

.user_collection__game_context {
  position: absolute;
  /* box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.05); */
  /* box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
  background: #333;
  border: 1px solid white;
  /* height: 100px; */
  width: 248px;
  padding: 0;
  list-style: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user_collection__game_context li:hover {
  background: white;
  color: black;
}

.user_collection__home_icon {
  display: none;
}

.user_collection__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 314px;
  border-right: 1px solid black;
  padding: 0 0px 30px 0px;
  overflow: hidden;
}

.user_collection__left_header {
  padding: 0 10px 45px;
  width: 100%;
}

.user_collection__left_header h2 {
  display: flex;
  text-align: center;
  color: white;
  font-size: 1rem;
  margin: 15px 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.user_collection__list_container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.user_collection__list {
  height: 100%;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: flex-start;
  background: rgb(12, 12, 12);
  user-select: none;
}

.user_collection__list_filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 0 auto 5px;
  padding: 0;
}

.user_collection__list_filters__list {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0;
  list-style: none;
  transform: translateY(-2px);
  user-select: none;
}

.user_collection__list_filters__list li {
  /* margin: 0 5px; */
  font-size: 0.9rem;
  cursor: pointer;
  color: grey;
  transition: all 250ms;
}

.user_collection__list_filters__list li:hover {
  color: white;
}

.user_collection__list_filters__list span {
  font-size: 0.9rem;
  color: darkgrey;
  margin: 0px 8px;
}

.user_collection__list_filters__list_status {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding: 0;
  list-style: none;
  transform: translateY(-2px);
}

.user_collection__list_filters__list_status li {
  /* margin: 0 5px; */
  font-size: 0.9rem;
  cursor: pointer;
  color: grey;
  transition: all 250ms;
}

.user_collection__list_filters__list_status li:hover {
  color: white;
}

.user_collection__list_filters__list_status span {
  font-size: 0.9rem;
  color: darkgrey;
  margin: 0px 5px;
}

.user_collection__poster {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
}

.user_collection__poster_container {
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all 250ms;
  z-index: -1;
  max-width: 12.7rem;
  min-width: 12.7rem;
  height: 100%;
  min-height: 320px;
  max-height: 320px;
  transform-style: preserve-3d;
}

.user_collection__poster_front,
.user_collection__poster_back {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
  /* CARD MOVING UP TRANSITION */
  transition: transform 300ms;
}

.user_collection__right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 0;
  z-index: 2;
  background: rgb(12, 12, 12);
}

.user_collection__right::-webkit-scrollbar {
  display: none;
}

.user_collection__search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.user_collection__search_icon {
  height: 100%;
  position: absolute;
  /* left: 9px; */
  left: 20px;
  color: white;
}

.user_collection__search_input {
  width: 80%;
  border: 1px solid darkgray;
  background: grey;
  border-radius: 4px;
  font-size: 1rem;
  padding: 7px 0px 7px 30px;
  color: white;
}

.user_collection__search_input:focus {
  outline: none;
}

.user_collection__spotlight {
  height: 380px;
  background: rgba(22, 22, 22, 0.85);
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.user_collection__spotlight_wrapper {
  background: rgba(22, 22, 22, 0.85);
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.user_collection__title_list {
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 6px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  /* position: relative; */
}

.user_collection__title_list::-webkit-scrollbar {
  display: none;
}

.user_collection__wrapper {
  position: relative;
  /* padding: 10px 15px; */
  height: 100vh;
}

@media screen and (max-width: 1440px) {
  .spotlight_details {
    left: 33px;
  }
}

/* Laptops */
@media screen and (max-width: 1024px) {
  .spotlight_details {
    top: 131px;
    font-size: 3.5rem;
    text-align: center;
    left: 13px;
  }

  .user_collection__left {
    min-width: 260px;
    /* padding: 0 12px 34px 12px; */
  }

  .user_collection__left_header {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .user_collection__left_header h2 {
    margin: 20px auto;
  }

  .user_collection__poster_container {
    max-width: 9.5rem;
    min-width: 9.5rem;
    min-height: 240px;
    max-height: 240px;
  }

  .user_collection__search_icon {
    /* left: 9px; */
    left: 13px;
    color: white;
  }
}

@media screen and (max-width: 950px) {
  .spotlight_container {
    width: 85%;
  }

  .spotlight_container:nth-last-of-type(2) {
    margin: 10px 0;
  }

  .spotlight_details {
    top: 31px;
    font-size: 3.5rem;
    text-align: center;
    left: 113px;
  }

  .spotlight_filters {
    padding: 20px 22px 18px;
  }

  .spotlight_filter__arrow {
    top: 6px;
    font-size: 1.5rem;
  }

  .spotlight_trophy_image {
    height: 60px;
    width: 55px;
    left: 5px;
  }

  .user_collection__spotlight {
    height: 460px;
    flex-direction: column;
    align-items: center;
  }

  .user_collection__spotlight_wrapper {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 750px) {
  .user_collection__poster_container {
    max-width: 8.5rem;
    min-width: 8.5rem;
    min-height: 220px;
    max-height: 220px;
  }

  .user_collection__left_header {
    padding: 0 10px;
  }

  .user_collection__search_input {
    width: 83%;
    padding: 7px 0px 7px 30px;
  }
}

/* MOBILE DEVICES */
@media screen and (max-width: 650px) {
  .list_item {
    margin: 5px 4px 10px;
  }

  .user_collection__actions {
    display: none;
  }

  .user_collection__container {
    flex-direction: column;
  }

  .user_collection__home_icon {
    display: block;
    font-size: 2.5rem;
    position: absolute;
    right: 60px;
    cursor: pointer;
  }

  .user_collection__left {
    height: 20%;
    padding: 0 14px 0px 14px;
  }

  .user_collection__list {
    margin: 10px 0 15px;
  }

  .user_collection__right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    padding: 0;
    position: relative;
  }

  .user_collection__search_icon {
    left: 50px;
  }

  .user_collection__search_input {
    width: 80%;
    /* width: 275px; */
    border: 1px solid darkgray;
    background: grey;
    border-radius: 4px;
    padding: 8px 0px 6px 30px;
  }

  .user_collection__spotlight {
    margin: 0 15px 5px;
  }

  .user_collection__title_list {
    display: none;
  }

  .user_collection__total {
    color: white;
    margin-bottom: 5px;
    padding-left: 7px;
    position: fixed;
    top: 132px;
    font-size: 0.95rem;
    width: 100%;
  }

  .user_collection__total span {
    font-size: 0.85rem;
    color: white;
  }

  .user_collection__left h2 {
    justify-content: flex-start;
    margin: 20px 0px 25px 50px;
    position: relative;
  }

  .user_collection__wrapper h2 img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 430px) {
  .spotlight_container {
    width: 70%;
    height: 45%;
  }
  .user_collection__search_icon {
    left: 32px;
  }

  .user_collection__spotlight {
    margin: 0px 0px 100px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  /* transform: translate(-50px, -70px); */
  .user_collection__spotlight_wrapper {
    height: 350px;
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .user_collection__list {
    justify-content: space-around;
  }

  .user_collection__search_icon {
    left: 28px;
  }
}

@media screen and (max-width: 320px) {
  .user_collection__search_icon {
    left: 22px;
  }
}
