.trending_row__loading_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.trending_row {
  margin-left: 20px;
  color: #fff;
  z-index: 0;
  padding-bottom: 30px;
}

.trending_row h2 {
  font-size: 2.2rem;
  font-style: italic;
  text-shadow: 6px 7px 2px black;
}

.hide-trending_row {
  z-index: 0;
  overflow: visible;
}

.trending_row::-webkit-scrollbar {
  display: none;
}

.trending_row__poster {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: -3px 3px 10px #000;
  transition: all 250ms ease-in-out;
  border-radius: 6px;
}

.trending_row__poster_container {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-right: 60px;
  margin-left: 100px;
  transition: all 400ms;
  z-index: 1;
  max-width: 24rem;
  min-width: 24rem;
  object-fit: cover;
  height: 100%;
  min-height: 270px;
  max-height: 270px;
}

/* .trending_row__poster_container:last-of-type {
  margin-left: 60px;
} */

.trending_row__placeholder__wrapper {
  max-width: 22rem;
  min-width: 22rem;
  min-height: 230px;
  max-height: 230px;
  margin-right: 10px;
}

.trending_row__poster_container:hover .trending_row__poster {
  box-shadow: -5px 7px 10px #000;
  transform: translate3d(1px, -3px, 0px);
}

.trending_row__poster_container:hover > .trending_row__poster_name {
  transform: translate3d(1px, -3px, 0px);
}

.trending_row__poster_name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: 95%;
  z-index: 1;
  transition: all 400ms;
}

.trending_row__posters {
  display: flex;
  padding: 20px;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}

.trending_row__rank {
  position: absolute;
  z-index: 1;
  font-size: 15rem;
  left: -40px;
  font-family: 'Games', sans-serif;
  color: white;
  text-shadow: 10px 10px 10px black;
  height: 100%;
}

.trending_row__poster_wrapper {
  position: relative;
}

.trending_row__posters::-webkit-scrollbar {
  display: none;
}

.trending_row__posters_container {
  display: flex;
  width: 100%;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .trending_row {
    padding-bottom: 10px;
  }

  .trending_row__posters {
    padding: 10px 20px 20px 5px;
  }

  .trending_row__poster_container {
    max-width: 11rem;
    min-width: 11rem;
    min-height: 240px;
    max-height: 240px;
  }

  .trending_row__placeholder__wrapper {
    max-width: 11rem;
    min-width: 11rem;
    min-height: 240px;
    max-height: 240px;
    margin-right: 10px;
  }
}
