.avatar_select_container {
  flex-direction: column;
  /* align-items: center; */
  transition: all 250ms;
}

.avatar_select {
  transform: translateX(125px);
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cancel_btn {
  opacity: 0.5;
  background: transparent;
  border: 1px solid grey;
  color: white;
}

.cancel_btn:hover {
  opacity: 1;
}

.close_color_palette {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  /* margin-left: 7px; */
  position: absolute;
  left: 145px;
  top: 54px;
}

.color_input {
  background: transparent;
  outline: 0;
  color: white;
  padding: 3px 2px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 45%;
  margin-right: 8px;
}

.console_input {
  background: black;
  outline: 0;
  color: white;
  padding: 3px 3px;
  border: 1px solid white;
  margin-bottom: 15px;
  /* width: 40%; */
}

.current_avatar {
  width: 90px;
  height: 86px;
  border-radius: 6px;
}

.current_avatar_edit {
  color: white;
  position: absolute;
  top: 68px;
  left: 4px;
  border-radius: 50%;
  background: rgba(11, 11, 11, 0.85);
  font-size: 1rem;
  width: 24px;
  height: 23px;
  text-align: center;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.form_actions {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 20px;
}

.form_actions button {
  margin: 0 10px;
  padding: 7px 18px;
  font-size: 0.75rem;
  cursor: pointer;
}

.form_avatar_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90px;
  margin-top: 20px;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.form_personal {
  /* border-bottom: 1px solid grey; */
  margin: 10px 0px 0px 20px;
  position: relative;
  height: 200px;
}

.form_personal_console {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  margin-bottom: 3px;
}

.form_personal_genre {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  margin-bottom: 3px;
}

.form_personal_title {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
  margin-bottom: 3px;
}

.form_personal h4 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 400;
}

.form_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.genre_arrow {
  color: white;
  position: relative;
  left: 10px;
  font-size: 0.8rem;
}

.genre_dropdown button {
  position: relative;
  min-width: 88px;
  width: auto;
  padding: 3px 20px 3px 5px;
  background: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.genre_dropdown button:hover {
  background-color: rgba(66, 66, 66, 0.75);
}

.genre_dropdown {
  position: relative;
  display: inline-block;
}

.genre_dropdown_content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  /* min-width: 160px; */
  height: 300px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.genre_dropdown_content span {
  color: white;
  padding: 3px 5px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 45%;
}

.genre_dropdown_content span:hover {
  background: white;
  color: black;
  font-weight: 500;
}

.img_input {
  width: 70%;
  background: transparent;
  border: 0;
  /* border-bottom: 1px solid white; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 5px;
  margin-right: 60px;
}

.link_submit {
  position: absolute;
  right: 14px;
  bottom: 35px;
  height: 20px;
  width: 50px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
}

.link_submit:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

.name_input {
  background: grey;
  border: 0;
  outline: 0;
  color: white;
  padding: 5px 5px;
  width: 85%;
}

.personal_avatar {
  text-align: center;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 240px;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.personal_avatar button {
  padding: 8px 25px;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.personal_avatar button:hover {
  background: rgb(20, 20, 20);
}

.personal_avatar p:first-of-type {
  font-weight: 600;
  font-size: 1.5rem;
}

.profile_color_palette {
  position: absolute;
  top: 90px;
  z-index: 1;
}

.profile_edit__container {
  position: relative;
  height: 100%;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_edit__form {
  height: 100px;
  border-bottom: 1px solid grey;
  margin: 20px 0px 0px 20px;
  position: relative;
  padding-bottom: 10px;
}

.profile_edit__form button {
  padding: 4px 9px;
  height: 21px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.profile_edit__form p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.75rem;
  margin: 13px 2px 1px;
}

.profile_edit__form_wrapper {
  padding: 140px 200px 20px;
  height: 400px;
  width: 340px;
  animation: displayProfile 150ms ease-in forwards;
}

.profile_edit__form_wrapper h3 {
  color: white;
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 1px;
}

.profile_edit__header {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  width: 100%;
}

.profile_edit__header h3 {
  color: blue;
  margin: 10px;
  font-size: 2rem;
}

.save_btn {
  background-color: white;
  color: black;
  border: 0;
  font-weight: 600;
}

.save_btn:hover {
  background-color: blue;
  color: white;
}

.title_input {
  background: black;
  outline: 0;
  border: 1px solid white;
  color: white;
  padding: 3px 3px;
  margin-bottom: 15px;
}

.upload_file_input {
  color: rgba(0, 0, 0, 0);
  width: 90px;
  /* width: 29%; */
}

@keyframes displayProfile {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 500px) {
  .avatar_select {
    transform: translateX(111px);
    margin-top: 20px;
  }

  .close_color_palette {
    font-size: 1.4rem;
    left: 125px;
    top: 58px;
  }

  .current_avatar {
    width: 98px;
    height: 94px;
    border-radius: 6px;
  }

  .form_personal {
    margin: 0px 0px 0px 20px;
    justify-content: space-around;
  }

  .form_personal_console {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.8rem;
    margin-bottom: 3px;
  }

  .form_personal_genre {
    font-size: 0.8rem;
  }

  .form_personal_title {
    font-size: 0.8rem;
  }

  .form_personal h4 {
    font-size: 1.2rem;
    margin: 0px 0 14px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .genre_dropdown_content {
    width: 230px;
    height: 201px;
  }

  .genre_dropdown_content span {
    font-size: 0.8rem;
  }

  .img_input {
    width: 75%;
  }

  .link_submit {
    bottom: 44px;
    right: 15px;
    height: 20px;
    width: 38px;
  }

  .name_input {
    margin-top: 5px;
  }

  .profile_edit__form_wrapper {
    padding: 140px 0px 20px;
    width: 300px;
  }

  .profile_edit__form p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.65rem;
    margin: 16px 2px 1px;
  }
}
