.playlist_loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlist_loading_dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #4b9cdb;
  margin: 0 3px;
}

.playlist_loading_dot:nth-last-child(3) {
  animation: jumpingAnimation 0.5s 0.1s ease-in infinite;
}
.playlist_loading_dot:nth-last-child(2) {
  animation: jumpingAnimation 0.5s 0.2s ease-in infinite;
}
.playlist_loading_dot:nth-last-child(1) {
  animation: jumpingAnimation 0.5s 0.3s ease-in infinite;
}

.row__blur_details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row__blur_details p {
  font-weight: 500;
  font-size: 1.3rem;
}

.blur_item_icon {
  margin-right: 8px;
  height: 20px;
  width: 23px;
  transition: all 180ms ease-in-out;
}

.blur_item_icon.more {
  height: 22px;
  width: 22px;
}

.blur_item_icon.music {
  height: 18px;
  width: 18px;
  margin-right: 10px;
}

.row__blur_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: all 180ms ease-in-out;
}

.row__blur_item:hover {
  opacity: 1;
}

.row__blur_item:nth-of-type(1):hover .blur_item_icon {
  color: #df0024;
}
.row__blur_item:nth-of-type(2):hover .blur_item_icon {
  color: #f3c300;
}
.row__blur_item:nth-of-type(3):hover .blur_item_icon {
  color: #00ac9f;
}
.row__blur_item:nth-of-type(4):hover .blur_item_icon {
  color: #2e6db4;
}

.row__blur_wrapper {
  position: absolute;
  height: 99%;
  width: 98%;
  backdrop-filter: blur(3px);
  filter: brightness(1.3);
  transition: backdrop-filter 500ms linear;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 2px 2px white, 0px 0px 6px 5px #9147ff;
}

.blur_loading {
  animation: spinBorder 3s infinite;
}

.blur_error {
  box-shadow: 0px 0px 2px 2px white, 0px 0px 7px 4px red, 0px 0px 4px 2px white;
}
.blur_success {
  box-shadow: 0px 0px 2px 2px white, 0px 0px 7px 4px #49fb35,
    0px 0px 4px 2px white;
}

.row__blur_wrapper::-webkit-scrollbar {
  display: none;
}

.row__loading_container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.row {
  margin-left: 20px;
  color: #fff;
  z-index: 0;
  padding-bottom: 30px;
  z-index: 3;
}

.hide-row {
  z-index: 0;
  overflow: visible;
}

.row::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.row__poster_add_icon {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 3px;
  top: 4.4px;
  z-index: 2;
  transition: transform 250ms ease-in-out, opacity 100ms ease-in-out;
  color: black;
  opacity: 0.75;
  backface-visibility: hidden;
}

.row__poster_back_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  border-radius: 4px;
  opacity: 0.25;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.row__poster_container {
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  position: relative;
  /* FLIP CARD TRANSITION */
  transition: all 250ms;
  z-index: -1;
  max-width: 13rem;
  min-width: 13rem;
  object-fit: cover;
  height: 100%;
  min-height: 315px;
  max-height: 315px;
  transform-style: preserve-3d;
}

.row__poster_container.flip {
  transform: rotateY(0.5turn);
}

.row__poster_front,
.row__poster_back {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 4px;
  /* CARD MOVING UP TRANSITION */
  transition: transform 300ms;
}

.row__poster_back {
  transform: rotateY(0.5turn);
  box-shadow: 0 2px 9px 3px #000;
  overflow-y: scroll;
}

.row__poster_back::-webkit-scrollbar {
  display: none;
}

.row__poster_back h3 {
  z-index: 1;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.row__poster__esrb_img {
  height: 100%;
  width: 48px;
  max-height: 70px;
  position: absolute;
  bottom: 4px;
  left: 5px;
}

.row__poster_music_icon {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 31px;
  top: 3.5px;
  z-index: 2;
  transition: transform 250ms ease-in-out, opacity 100ms ease-in-out,
    border-radius 250ms ease-in-out, color 250ms ease-in-out;
  color: black;
  opacity: 0.75;
  backface-visibility: hidden;
  border-radius: 0;
}

.row__poster_music_icon:hover {
  color: blue;
}

.row__poster_music_icon:hover,
.row__poster_add_icon:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 12px;
}

.row__placeholder__wrapper {
  max-width: 12rem;
  min-width: 12rem;
  min-height: 300px;
  max-height: 300px;
  margin-right: 0px;
  margin-left: 15px;
}

.row__poster_name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: 95%;
  z-index: 1;
  transition: all 400ms;
  backface-visibility: hidden;
}

.row__posters {
  display: flex;
  padding: 15px 15px 10px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row__poster_wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition: all 250ms ease-in-out, filter 170ms linear;
  z-index: 3;
  border-radius: 4px;
  margin-right: 25px;
  height: 100%;
  box-shadow: -1px 3px 5px 1px #000;
  cursor: pointer;
}

.row__poster_wrapper:hover {
  transform: translate3d(1px, -3px, 0px);
}

.row__poster_wrapper:hover .row__poster_container {
  box-shadow: -6px 3px 3px 1px rgb(0 0 0 / 50%);
}

.row__poster_wrapper:hover > .row__poster_name {
  transform: translate3d(1px, -3px, 0px);
}

.row__poster_wrapper:hover > .row__poster_music_icon {
  transform: translate3d(1px, -3px, 0px);
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters_container {
  display: flex;
  width: 100%;
}

.row__preview_close {
  color: white;
  position: fixed;
  z-index: 10;
  font-size: 1.2rem;
  top: 76px;
  right: 15px;
  cursor: pointer;
  padding: 5px 9px;
  line-height: 1;
  border-radius: 3px;
  background: #222;
  opacity: 0.5;
}

.options {
  left: 15px;
  width: 13px;
  display: flex;
  height: 20px;
}

.row__preview_close:hover {
  opacity: 1;
}

.row__title {
  font-size: 1.6rem;
  text-shadow: 4px 4px 2px black;
}

.soundtrack_container {
  width: 100%;
  position: absolute;
  height: 100%;
}

.soundtrack_container > span {
  position: relative;
  font-size: 1.4rem;
  left: 4px;
  bottom: 9px;
  transform: translateY(0px);
  display: block;
  width: 0px;
  transition: transform 250ms ease-in;
}

.soundtrack_container > span:hover {
  transform: translateY(-1px);
}

.soundtrack_container h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: -22px 0 5px;
}

.soundtracks {
  list-style: none;
  padding: 0;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.soundtrack {
  display: flex;
  margin: 3px 4px 0;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.viewing_game {
  z-index: 4;
  cursor: pointer;
  height: auto;
  width: auto;
  transform-style: preserve-3d;
  animation: displayGame 350ms ease-in-out forwards;
  box-shadow: none;
}

.viewing_game::before {
  content: '';
  height: 0;
  width: 0;
}

.viewing_game::after {
  content: '';
  height: 0;
  width: 0;
}

.viewing_game .row__poster_container {
  display: none;
}

.viewing_game:hover {
  box-shadow: none;
}

@keyframes displayGame {
  0% {
    position: relative;
    transform: translate(0, 0) scale(1);
  }

  1% {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  100% {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes jumpingAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 15px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes spinBorder {
  to {
    --border-angle: 1turn;
  }
}

/* Mobile Devices */
@media screen and (max-width: 500px) {
  .row {
    padding-bottom: 10px;
  }

  .row__blur_details {
    justify-content: space-evenly;
  }

  .row__blur_details p {
    font-weight: 500;
    font-size: 1.1rem;
  }

  .row__title {
    width: 100%;
    white-space: pre;
    font-size: 1.25rem;
  }

  .row__poster_container {
    max-width: 11rem;
    min-width: 11rem;
    min-height: 260px;
    max-height: 260px;
  }

  .row__posters {
    padding: 15px 5px 30px;
  }

  .row__preview_close {
    background: #fff;
    color: black;
    font-size: 1.5rem;
    padding: 5px 9px;
    right: 32px;
    top: 50px;
  }
}
