.row__loading_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.row {
  margin-left: 20px;
  color: #fff;
  z-index: 0;
  padding-bottom: 30px;
}

.hide-row {
  z-index: 0;
  overflow: visible;
}

.row::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* box-shadow: 0px 3px 10px #000; */
  box-shadow: -3px 3px 10px #000;
  transition: all 250ms ease-in-out;
  border-radius: 6px;
}

.row__poster_container {
  width: 100%;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  transition: all 400ms;
  z-index: 1;
  max-width: 12rem;
  min-width: 12rem;
  object-fit: cover;
  height: 100%;
  min-height: 300px;
  max-height: 300px;
  transform-style: preserve-3d;
}

.row__poster_front,
.row__poster_back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* .row__poster_front::before {
  content: '';
  position: absolute;
  top: 0.25em;
  bottom: 0.25em;
  left: 0.25em;
  right: 0.25em;
  border: 3px solid currentColor;
  transform: translateZ(3rem);
} */

.row__poster_back {
  transform: rotateY(0.5turn);
}

.row__poster_music_icon {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 6px;
  top: 6px;
  z-index: 2;
  transition: transform 250ms ease-in-out, opacity 100ms ease-in-out;
  color: black;
  opacity: 0.5;
}

.row__poster_music_icon:hover {
  opacity: 1;
}

.row__placeholder__wrapper {
  max-width: 12rem;
  min-width: 12rem;
  min-height: 300px;
  max-height: 300px;
  margin-right: 10px;
}

.row__poster_container:hover .row__poster {
  box-shadow: -5px 7px 10px #000;
  transform: translate3d(1px, -3px, 0px);
}

.row__poster_front:hover > .row__poster_name {
  transform: translate3d(1px, -3px, 0px);
}

.row__poster_front:hover > .row__poster_music_icon {
  transform: translate3d(1px, -3px, 0px);
}

.row__poster_name {
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: 95%;
  z-index: 1;
  transition: all 400ms;
}

.row__posters {
  display: flex;
  padding: 10px 20px 20px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row__poster_wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters_container {
  display: flex;
  width: 100%;
}

/* Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .row {
    padding-bottom: 10px;
  }

  .row__posters {
    padding: 10px 20px 20px 5px;
  }

  .row__poster_container {
    max-width: 11rem;
    min-width: 11rem;
    min-height: 240px;
    max-height: 240px;
  }
}
