.left {
  transform: rotate(-135deg) translate(-50%);
}

.left:hover {
  background-color: transparent;
}

.right {
  transform: rotate(45deg);
}

.disabled {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.87) !important;
}

.disabled .arrow::before {
  border-right: 0.12em solid rgba(255, 255, 255, 0.17);
  border-top: 0.12em solid rgba(255, 255, 255, 0.17);
}

.arrow::before {
  position: relative;
  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: '';
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(255, 255, 255, 0.87);
  border-top: 0.12em solid rgba(255, 255, 255, 0.87);
}

.pagination-container {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.pagination-item:nth-child(1),
.pagination-item:nth-last-child(1) {
  background-color: transparent !important;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 18px;
  min-width: 32px;
}

.pagination-item:hover {
  background-color: rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.selected {
  background-color: rgba(255, 255, 255, 0.18);
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}
