.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.list_small {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.section-title {
  margin-top: 30px;
}

.card {
  width: 31.5%;
  margin: 10px 0;
  position: relative;
  background-color: rgb(35, 35, 35);
  border-radius: 2px;
  --base-color: rgb(55, 55, 55);
}

.card_banner {
  background-color: rgb(35, 35, 35);
  --base-color: rgb(55, 55, 55);
}

.card_banner_small {
  background-color: rgb(35, 35, 35);
  --base-color: rgb(55, 55, 55);
}

.card_small {
  width: 31.5%;
  margin: 10px 0;
  position: relative;
}

.card_cover {
  position: absolute;
  top: 73px;
  left: 20px;
  border: 2px solid black;
  background-color: rgb(35, 35, 35);
  --base-color: rgb(55, 55, 55);

  width: 105px;
  height: 141px;
}

.card_cover_small {
  position: absolute;
  top: 2px;
  --base-color: rgb(55, 55, 55);
  height: 104px;
  width: 83px;
  background-color: rgb(30, 30, 30);
  border: 2px solid black;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-image {
  width: 100%;
  background: rgb(35, 35, 35);
}

.channel-image {
  border-radius: 100%;
  padding: 0, 10px, 0, 0;
  width: 40px;
  height: 40px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-title_small {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-channel,
.card-metrics {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  --base-color: rgb(55, 55, 55);
}

.skeleton_card_wrapper {
  width: 100%;
}

.skeleton_title {
  position: absolute;
  top: 193px;
  right: 12px;
  height: 22px;
  width: 59%;
  --base-color: rgb(55, 55, 55);
  background-color: rgb(11, 11, 11);
}

.skeleton_title_small {
  position: absolute;
  top: 15px;
  right: 6px;
  height: 15px;
  width: 56%;
  --base-color: rgb(55, 55, 55);
  background-color: rgb(11, 11, 11);
}

@media (max-width: 1024px) {
  .card_cover {
    left: 5px;
    width: 97px;
    height: 141px;
  }

  .skeleton_title {
    width: 58%;
  }
}

@media (max-width: 800px) {
  .card_cover {
    left: 5px;
    top: 85px;
    width: 80px;
    height: 126px;
  }

  .search_results__container_skeleton {
    margin: 0px 20px;
    top: 9.8rem;
  }

  .skeleton_title {
    position: absolute;
    top: 191px;
    right: 0px;
    height: 15px;
    width: 58%;
    --base-color: rgb(55, 55, 55);
  }
}

@media (max-width: 700px) {
  .card {
    width: 90%;
    margin: 10px 0;
    position: relative;
  }

  .card_cover {
    left: 24px;
    top: 77px;
    width: 100px;
    height: 136px;
  }

  .list {
    flex-direction: column;
    align-items: center;
  }

  .skeleton_title {
    position: absolute;
    top: 191px;
    right: 0px;
    height: 22px;
    width: 65%;
    --base-color: rgb(55, 55, 55);
  }

  .skeleton_title_small {
    position: absolute;
    top: 15px;
    right: 4px;
    height: 15px;
    width: 52%;
    --base-color: rgb(55, 55, 55);
  }
}

@media screen and (max-width: 450px) {
  .card_cover {
    left: 7px;
    top: 76px;
    width: 100px;
    height: 136px;
  }

  .card_small {
    width: 11.5rem;
  }

  .skeleton_title {
    width: 55%;
  }

  .skeleton_title_small {
    width: 47%;
  }
}

/* Tablets
@media (max-width: 1000px) {
  .card {
    width: calc(50% - 22px);
  }
}

/* Mobiles */
/* @media (max-width: 640px) {
  .card {
    width: 100%;
  }
}  */
