.game_name {
  font-size: 1rem;
  width: 100%;
  max-width: 50%;
  margin-left: 120px;
}

.game_name_remainder {
  font-size: 1rem;
  width: 100%;
  max-width: 95%;
  padding: 5px 5px 3px;
}

.game_cover {
  height: 158px;
  width: 107px;
  position: absolute;
  top: 91px;
  left: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.game_playtime {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 5px;
  letter-spacing: 0.5px;
}

.game_theme_list {
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 13px;
  justify-content: space-evenly;
}

.game_theme_list_lower {
  font-size: 0.9rem;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 5px;
}

.game_theme_list_lower li {
  font-size: 0.75rem;
}

.result_publisher {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgb(35, 35, 35);
  border-radius: 50%;
}

.remainder_results {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.remainder_results_skeleton {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.results_container {
  display: inline-flex;
  height: 6.5rem;
  margin: 8px 4px;
  width: 22rem;
  background-color: rgb(35, 35, 35);
  position: relative;
  cursor: pointer;
}

.results_container_content {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.results_container_img {
  height: 100%;
  min-width: 120px;
}

.search_bottom_fade {
  height: 5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(11, 11, 11, 0.5),
    rgba(11, 11, 11, 1)
  );
}

.search_results {
  width: 100%;
  position: relative;
  top: 6rem;
  /* left: 0.3rem; */
  color: #fff;
}

.search_results__container {
  margin-left: 15px;
}

.search_results__container_skeleton {
  margin: 0 40px;
}

.search_results__container h2 {
  margin-bottom: 15px;
  width: 100%;
}

.top_results_row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.top_results_row_skeleton {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: column;
}

.top_result_container {
  background-color: rgb(35, 35, 35);
  width: 31.5%;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}

.top_result_details_icon,
.result_details_icon {
  position: absolute;
  bottom: 6px;
  right: 7px;
  font-size: 1.15rem;
  cursor: pointer;
  opacity: 0.5;
}

.top_result_add_icon,
.result_add_icon {
  position: absolute;
  bottom: 3px;
  left: 4px;
  font-size: 1.5rem;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
}

.result_add_icon {
  left: 233px;
}

.top_result_details_icon:hover,
.top_result_add_icon:hover,
.result_add_icon:hover,
.result_details_icon:hover {
  opacity: 1;
}

.top_result_upper {
  height: 12.5rem;
}

.top_result_upper img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.top_result_lower {
  height: 7rem;
}

/* MOBILE */
@media screen and (max-width: 375px) {
  .results_container {
    width: 18rem !important;
  }
}

@media screen and (max-width: 450px) {
  .game_cover {
    height: 119px;
    width: 90px;
    position: absolute;
    top: 80px;
    left: 10px;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
      rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
      rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
  }

  .game_name {
    font-size: 1rem;
    width: 100%;
    max-width: 60%;
    margin-left: 110px;
    margin-top: 5px;
  }

  .game_name_remainder {
    font-size: 0.7rem;
    width: 100%;
    max-width: 95%;
    padding: 5px 0px 3px 4px;
  }

  .game_theme_list {
    bottom: 5px;
  }

  .game_theme_list_lower {
    display: none;
  }

  .remainder_results {
    margin-top: 15px;
  }

  .results_container {
    display: inline-flex;
    height: 5rem;
    margin: 5px;
    width: 12rem;
    background-color: rgb(35, 35, 35);
    position: relative;
  }

  .results_container_img {
    height: 100%;
    min-width: 75px;
  }

  .search_results {
    width: 100%;
    top: 4.5rem;
  }

  .search_results__container h2 {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .top_result_container {
    width: 90%;
    margin-bottom: 28px;
  }

  .top_result_lower {
    height: 4.9rem;
  }

  .top_results_row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .top_result_upper {
    height: 10rem;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px) {
  .game_cover {
    top: 75px;
    height: 128px;
    width: 96px;
    left: 10px;
  }

  .game_name {
    max-width: 60%;
    font-size: 1rem;
    margin-left: 110px;
  }

  .game_name_remainder {
    font-size: 0.7rem;
    max-width: 90%;
  }

  .result_add_icon {
    display: none;
  }

  .results_container {
    display: inline-flex;
    height: 5rem;
    margin: 5px;
    width: 12rem;
    background-color: rgb(35, 35, 35);
    position: relative;
  }

  .results_container_img {
    height: 100%;
    min-width: 75px;
  }

  .search_results {
    top: 6rem;
  }

  .top_result_container {
    width: 65%;
    margin-bottom: 15px;
  }

  .top_results_row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .top_result_lower {
    height: 5rem;
  }

  .top_result_upper {
    height: 10rem;
  }
}
