.user_notes__form {
}

.user_notes__header {
  height: 55px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}

.user_notes__wrapper {
  width: 100%;
  position: relative;
  min-height: 420px;
  height: 100%;
  max-width: 600px;
  max-height: 460px;
  background: blue;
  border: 1px solid white;
  margin: 10px 20px;
  position: relative;
}

@media screen and (max-width: 650px) {
  .user_notes__wrapper {
    max-width: none;
    width: 94%;
    min-height: 380px;
  }
}
