.achievement_item {
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding: 6px 0 6px 10px;
  /* margin-bottom: 5px; */
}

.achievement_item_headers {
  display: flex;
  flex-direction: column;
}

.achievement_item_headers h4 {
  color: white;
  font-size: 1.2rem;
}

.achievement_item_headers p {
  color: lightgray;
  font-size: 0.75rem;
}

.achievement_item_icon {
  height: 60px;
  min-width: 60px;
  margin-right: 6px;
}

.achievement_item_icon__img {
  height: 100%;
  width: 100%;
}

.banner_context__item {
  cursor: pointer;
  padding: 8px 5px 8px 6px;
  border-bottom: 1px solid black;
  color: white;
}

.banner_context__item:hover {
  background: black;
  color: white;
}

.banner_context__item:last-of-type {
  border-bottom: 0;
}

.music_icon_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.music_icon_container h4 {
  font-size: 1.2rem;
  line-height: 0.5;
  margin-bottom: 2.4px;
}

.music_icon {
  font-size: 1.25rem;
  position: relative;
  top: 4px;
  right: -8px;
  cursor: pointer;
}

.playtime_input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid transparent;
  width: 0px;
  /* position: absolute; */
  display: none;
}

.playtime_input:focus,
.playtime_focused:focus {
  outline: 0;
}

.playtime_focused:focus {
  caret-color: #9147ff;
}

.playtime_focused {
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #9147ff;
  color: white;
  width: 64px;
  animation: displayPlaytimeInput 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding-bottom: 3px;
}

.previous_rating {
  cursor: pointer;
}

.rating_stars {
  cursor: pointer;
  display: flex;
  width: 100%;
  animation: displayRatingStars 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rating_star {
  color: gold;
  cursor: pointer;
}

.achievement_count_container,
.playtime_container,
.rating_container {
  display: flex;
  align-items: center;
  width: auto;
}

.playtime_container {
  width: 110px;
}

.playtime_container span,
.achievement_count_container span {
  cursor: pointer;
}

.achievement_medal_icon,
.playtime_clock_icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.stats_item {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.stats_item span {
  font-size: 0.9rem;
}

.stats_item h3 {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 3px;
}

.user_game__achievements {
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.65);
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 4px 3px #000000;
}

.user_game__achievements h3 {
  position: absolute;
  color: white;
  top: -25px;
}

.user_game__achievements_banner {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, rgba(200, 200, 200, 0.1), #111111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding-bottom: 5px;
  /* padding-left: 15px; */
}

.user_game__achievements_banner p {
  padding-left: 12px;
}

.user_game__achievements_list {
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.25);
  overflow-y: scroll;
  padding: 0;
  list-style: none;
  padding-top: 6px;
}

.user_game__achievements_list::-webkit-scrollbar {
  display: none;
}

.user_game__achievements_progress_bar_container {
  width: 95%;
  background-color: black;
  padding: 5px 0px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
  position: relative;
  z-index: 0;
}

.user_game__achievements_progress_bar {
  position: absolute;
  /* background: blue; */
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 5px 0px;
  border-radius: 10px;
}

.user_game__achievements_wrapper {
  float: right;
  margin-right: 20px;
  width: 40%;
  min-width: 300px;
  height: 360px;
  z-index: 5;
}

.user_game__achievements_wrapper h3 {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

.user_game__banner {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
}

.user_game__banner_context {
  position: absolute;
  box-shadow: 0px 2px 6px 1px #000000;
  background: #333;
  /* height: 100px; */
  width: 150px;
  padding: 0;
  list-style: none;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user_game_banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  position: absolute;
}

.user_game__data {
  height: 100%;
  width: 100%;
  background: rgba(11, 11, 11, 0.95);
  z-index: 1;
}

.user_game__data_img {
  height: 100%;
  z-index: -1;
  position: fixed;
  width: 100%;
  opacity: 0.35;
}

.user_game__current_stats {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-image: linear-gradient(
    180deg,
    rgba(37, 37, 37, 0.81),
    rgba(37, 37, 37, 0.91),
    #111
  );
  z-index: 1;
}

.user_game__exit {
  color: white;
  background: #111;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  padding: 4px 10px;
  opacity: 0.5;
}

.user_game__exit:hover {
  opacity: 1;
}

.user_game__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 5px;
}

.user_game__platforms {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.user_game__stats_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.user_game__title {
  font-size: 1.8rem;
  text-align: center;
  /* text-shadow: 2px 2px 3px black; */
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  color: white;
  margin: 15px 0 25px;
}

.user_game__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 0 20px;
  z-index: 5;
}

@keyframes displayPlaytimeInput {
  0% {
    /* position: absolute; */
    width: 0;
    border-bottom: 1px solid transparent;
  }
  100% {
    width: 64px;
    border-bottom: 1px solid #9147ff;
  }
}

@keyframes displayRatingStars {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .user_game__banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media screen and (max-width: 533px) {
  .user_game__title {
    max-width: 90%;
  }
}
