.btn_arrow {
  margin-left: 5px;
}

.chief-img {
  transform: translate(90px, 10px);
  width: 300px;
}

.cloud-img {
  transform: translateX(40px);
}

.link-img {
  transform: translate(-274px, -10px);
  z-index: -1;
}

.mario-img {
  transform: translate(-274px, 10px);
}

.spyro-img {
  transform: translate(-480px, -42px) scale(0.7);
  z-index: -1;
}

.demo_video_container {
  position: absolute;
  top: 133px;
  left: 6.5px;
  width: 100%;
  height: 135.5px;
}

.demo_video_container video {
  object-fit: cover;
}

.demo_video {
  height: 126% !important;
  width: 95.3% !important;
}

.email_placeholder {
  position: absolute;
  color: grey;
  transform: translate(15px, 13px);
  font-size: 1.25rem;
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 50ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.email_focused {
  font-size: 0.75rem;
  font-weight: 600;
  transform: translate(12px, 5px);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1),
    font-weight 50ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.landing_banner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 650px;
  z-index: 2;
  border-bottom: 8px solid #222;
}

.landing_banner__img {
  height: 100%;
  min-height: 12rem;
  max-height: 12rem;
  width: 20rem;
  transform: translate(-150px, -30px);
  margin: 0;
  border: 3px solid transparent;
  opacity: 0.75;
}

.landing_banner__name {
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  margin-left: 5px;
  opacity: 0.5;
  font-family: 'Anton', sans-serif;
  letter-spacing: 4px;
  display: none;
}

.landing_banner__background {
  opacity: 0.6;
  position: absolute;
  height: 300%;
  width: 180%;
  z-index: -1;
}

.landing_banner__content {
  position: relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.landing_banner__content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  max-width: 95%;
}

.landing_banner__content h3 {
  font-size: 1.75rem;
  margin: 1rem auto;
  font-weight: 400;
}

.landing_banner__content p {
  padding-bottom: 20px;
}

.landing_banner__fade_bottom {
  position: absolute;
  top: 580px;
  height: 7.5rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.51),
    black
  );
  z-index: 5;
}

.landing_banner__fade_top {
  position: relative;
  height: 7.5rem;
  background-image: linear-gradient(
    0deg,
    transparent,
    rgba(0, 0, 0, 0.51),
    black
  );
}

.landing__demo {
  width: 100%;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 8px solid #222;
}

.landing__form {
  display: flex;
  max-width: 950px;
  padding-top: 0.85rem;
}

.landing__form button {
  padding: 0 20px;
  background: blue;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.landing__form button:hover {
  background: rgb(0, 26, 255);
}

.landing__form input {
  height: 38px !important;
  min-width: 400px;
  outline: 0;
  font-size: 1.2rem;
  padding-top: 18px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.landing__information {
  width: 100%;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 8px solid #222;
}

.landing__profiles {
  width: 100%;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-bottom: 8px solid #222;
}

.demo_left {
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  margin-left: 10px;
}

.demo_left_title {
  font-size: 2.5rem;
  white-space: nowrap;
  margin-bottom: 15px;
}

.demo_left_description {
  text-align: left;
  font-size: 1.25rem;
  max-width: 85%;
}

.demo_right {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 10px;
}

.demo_pc_img {
  height: 50%;
  width: 100%;
}

.information_characters {
  position: absolute;
  top: 13px;
  right: 18px;
  width: 100%;
  display: flex;
  z-index: -1;
}

.information_characters img {
  height: 200px;
  min-height: 200px;
  width: 150px;
}

.information_left {
  display: flex;
  position: relative;
  z-index: 1;
}

.information_tv_img {
  height: 230px;
  width: 290px;
}

.information_right {
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.information_right_description {
  text-align: right;
  font-size: 1.25rem;
  max-width: 85%;
}

.information_right_title {
  font-size: 2.5rem;
  /* white-space: nowrap; */
  margin-bottom: 15px;
}

.landing_page {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.landing_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.nav_badge {
  color: #fff;
  font-size: 2rem;
}

.nav_left {
  margin-left: 35px;
}
.nav_right {
  margin-right: 35px;
}

.profiles__left {
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  margin-left: 10px;
}

.profiles__left_title {
  font-size: 2.5rem;
  white-space: nowrap;
  margin-bottom: 15px;
}

.profiles__left_description {
  text-align: left;
  font-size: 1.25rem;
  max-width: 85%;
}

.profiles__logo_collection {
  border-radius: 3px;
  height: 250px;
  width: 282px;
  box-shadow: 0px 33px 25px 0 blue, 0 66px 15px 0px red, 0 99px 5px 0px green;
}

.profiles__right {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-right: 10px;
}

.sign_in_btn {
  border: 0;
  padding: 0.55rem 0.9rem;
  background: blue;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* MOBILE DEVICES */
@media screen and (max-width: 700px) {
  .btn_arrow {
    margin: 0;
    position: absolute;
    right: 13px;
  }
  .demo_left {
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    /* margin: 30px 0 0px; */
  }

  .demo_left_title {
    font-size: 2.2rem;
  }

  .demo_left_description {
    text-align: center;
    font-size: 1.05rem;
  }

  .demo_right {
    /* justify-content: center; */
    flex-direction: column;
    margin: 0;
    height: 70%;
    width: 70%;
  }

  .demo_pc_img {
    height: 90%;
    width: 100%;
  }

  .demo_video_container {
    top: 5px;
    left: 5px;
    width: 97%;
    height: 51%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .demo_video_container video {
    height: 90%;
  }

  .demo_video {
    height: 126% !important;
    width: 100% !important;
  }

  .email_placeholder {
    font-size: 1.15rem;
    transform: translate(-120px, 10px);
  }

  .email_focused {
    font-size: 0.75rem;
    transform: translate(-140px, 4px);
  }

  .landing_banner__content {
    top: 10px;
  }
  .landing_banner__content h1 {
    font-size: 1.6rem;
    max-width: 99%;
  }
  .landing_banner__content p {
    text-align: center;
    padding-bottom: 0;
    max-width: 85%;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .landing_banner__content h3 {
    font-size: 1.2rem;
  }
  .landing__demo {
    flex-direction: column;
    text-align: center;
  }
  .landing__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing__form input {
    height: 6px !important;
    padding-bottom: 15px;
    min-width: 360px;
    margin-bottom: 25px;
    padding-top: 25px;
  }
  .landing__form button {
    width: 145px;
    padding: 10px 18px;
    font-size: 1.1rem;
    position: relative;
    justify-content: flex-start;
  }
  .landing_banner {
    height: 580px;
  }
  .landing_banner__img {
    min-height: 8rem;
    max-height: 8rem;
    width: 11rem;
    transform: translate(-60px, -60px);
  }
  .landing_banner__fade_bottom {
    top: 490px;
    height: 7rem;
    z-index: -1;
  }
  .landing__information {
    flex-direction: column-reverse;
  }
  .landing__profiles {
    flex-direction: column;
    text-align: center;
  }
  .information_right {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .information_right_description {
    text-align: center;
    font-size: 1.05rem;
    max-width: 85%;
  }
  .information_right_title {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .information_tv_img {
    height: 250px;
    margin-bottom: 30px;
    width: 320px;
  }
  .profiles__left {
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .profiles__left_description {
    text-align: center;
  }

  .profiles__right {
    flex-direction: column;
    margin: 0;
    height: 70%;
    width: 70%;
  }
}

@media screen and (max-width: 1240px) {
  .landing__information {
    justify-content: space-evenly;
  }

  .information_tv_img {
    height: 250px;
    width: 350px;
  }
}
