.game-details {
  background-color: #111;
  position: absolute;
  border-radius: 6px;
  font-size: 16px;
  /* overflow: hidden; */
  width: 24rem;
  height: 22rem;
  top: 0px;
  left: -45px;
  transform-origin: center center;
  animation: growBox 150ms ease-in forwards;
  backface-visibility: hidden;
  z-index: 10;
  opacity: 1;
  box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
  will-change: transform;
  perspective: 1px;
}

.game-details:hover {
  transform: scale(1);
}

.hide {
  animation: shrinkBox 200ms ease-in forwards;
  will-change: transform;
}

.game-details__container {
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  height: 40%;
}

.game-details__details {
  padding: 0.5em 0.8em 1em;
  position: relative;
}

.game-details__more {
  font-size: 0.8rem;
  cursor: pointer;
  width: fit-content;
  opacity: 0.75;
}

.game-details__more:hover {
  opacity: 1;
  text-decoration: underline;
}

.game-details__name {
  will-change: transform;
  font-size: 1.15rem;
  padding-bottom: 5px;
  line-height: 20px;
  text-shadow: 3px 4px 5px #000;
  cursor: pointer;
  max-width: 85%;
}

.game-details__platforms {
  max-width: 40%;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 12px 0 0;
}

.game-details__platform {
  padding-right: 10px;
  will-change: transform;
}

.platform_logo {
  height: 18px;
  width: 20px;
  -webkit-filter: drop-shadow(3px 4px 1px #000);
  filter: drop-shadow(3px 4px 1px #000);
}

.game-details__publishers {
  text-shadow: none;
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 0.5rem;
  align-items: center;
  position: absolute;
  right: -5px;
  top: 0px;
}

.game-details__publisher {
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 500;
}

.game-details__released {
  font-size: 0.75rem;
  text-shadow: 3px 4px 5px #000;
  margin-bottom: 8px;
}

.game-details__tag {
  font-size: 0.85rem;
  text-shadow: 3px 4px 5px #000;
}

.tag_border:before {
  color: #646464;
  content: '\2022';
  display: inline-block;
  font-size: 1rem;
  position: relative;
  right: 10px;
  top: 2px;
}
.tag_no_border:before {
  content: '';
  position: relative;
  right: 10px;
}

.game-details__tags {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.game-details__tags_list {
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.game-details__trailer {
  background-color: transparent;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  /* position: absolute; */
  will-change: transform;
  z-index: 2;
  width: 100%;
  height: 13.5rem;
}

.game_preview__back {
  width: 243px;
  height: 345px;
  background-position: 0px 0px;
  border-top: solid 5px #333;
  border-left: solid 5px #333;
  border-bottom: solid 5px #333;
  transform: rotateY(180deg) translateZ(14px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.game_preview__bottom {
  width: 243px;
  height: 28px;
  transform: rotateX(-90deg) translateZ(331px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.game_preview__box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-14px);
  transition: all 750ms ease-in-out;
  transform: rotateY(-8deg) rotateX(5deg);
}

.game_preview__box:hover {
  transform: rotateY(-20deg) rotateX(5deg);
}

.game_preview__front {
  width: 243px;
  height: 345px;
  background-position: 243px 0px;
  border-top: solid 25px #333;
  /* border-top: solid 5px #333; */
  border-right: solid 5px #333;
  border-bottom: solid 5px #333;
  z-index: 10;
  transform: rotateY(0deg) translateZ(14px);
  position: absolute;
  top: 0;
}

.game_preview__front_banner {
  display: flex;
  align-items: center;
  position: absolute;
  top: -25px;
  width: 100%;
}

.game_preview__left {
  width: 28px;
  height: 345px;
  background-position: 265px 0px;
  border-top: solid 5px #333;
  border-bottom: solid 5px #333;
  transform: rotateY(-90deg) translateZ(14px);
  position: absolute;
  top: 0;
  left: 0px;
}

.game_preview__right {
  width: 28px;
  height: 345px;
  transform: rotateY(90deg) translateZ(230px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.game_preview__top {
  width: 243px;
  height: 28px;
  transform: rotateX(90deg) translateZ(14px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.game_preview__modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
}

.game_preview__platform_logo {
  height: 24px;
  width: 35px;
  /* filter: drop-shadow(3px 4px 1px #000); */
  /* margin-right: 10px; */
  object-fit: contain;
}

.playstation {
  height: 16px;
  width: 32px;
}

.nintendo-ds {
  height: 98px;
  width: 98px;
  position: absolute;
  top: -35px;
}

.game_preview__wrapper {
  background-size: 500px 345px;
  backface-visibility: visible;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  width: 243px;
  height: 445px; /* The width is 345px but we have to enlarge the area because of the drop shadow. */
  margin: 0 auto;
  overflow: visible;
  perspective: 690px;
  perspective-origin: 50% 50%;
  filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.5));
  /* filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.5)); */
  /* filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.3)); */
}

.trailer {
  width: 100% !important;
  height: 100% !important;
}

.trailer_placeholder {
  width: 100%;
  height: 100%;
}

/* Animation for when comoponent renders */
@keyframes growBox {
  0% {
    transform: translateX(0px) translateY(0px) scaleX(0.5) scaleY(0.5)
      translateZ(0px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(45px) translateY(0px) scaleX(1) scaleY(1)
      translateZ(0px);
  }
}

@keyframes shrinkBox {
  0% {
    transform: translateX(45px) translateY(0px) scaleX(1) scaleY(1)
      translateZ(0px);
  }
  100% {
    transform: translateX(25px) translateY(0px) scaleX(0.5) scaleY(0.5)
      translateZ(0px);
    opacity: 0;
  }
}

@media screen and (max-width: 650px) {
  .game-details__trailer {
    height: 11rem;
  }

  .game-details {
    width: 20rem;
    height: 17.7rem;
    top: -13px;
    left: -50px;
  }

  .game-details__details {
    padding: 0.35em 0.8em 1em;
  }

  .game-details__name {
    font-size: 1.05rem;
    padding-bottom: 2px;
  }

  .game-details__platforms {
    padding: 10px 0 0;
  }

  .game-details__released {
    margin-bottom: 5px;
  }

  .game-details__tags {
    bottom: 16px;
  }

  .row__poster_add_icon {
    height: 19px;
    width: 19px;
    right: 6px;
    top: 3.4px;
  }

  .row__poster_music_icon {
    height: 20px;
    width: 20px;
    right: 36px;
    top: 3px;
  }
}
