.platform_logo {
  height: 18px;
  width: 20px;
  -webkit-filter: drop-shadow(3px 4px 1px #000);
  filter: drop-shadow(3px 4px 1px #000);
}

.game_preview__actions {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  position: relative;
  align-items: center;
  z-index: 3;
}

.game_preview__actions button {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  font-size: 0.5rem;
  outline: 0;
  text-align: center;
  cursor: pointer;
  width: 65px;
  height: 70px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 4px 3px 3px rgb(0 0 0 / 50%), 2px -1px 1px #9dd591;
  background: linear-gradient(
    to right,
    #579c66,
    #579c66 5px,
    #6dad7b 15px,
    #e9ffe8 33px,
    #9dd591 50px,
    #6bb765 100px,
    #142e16 100%
  );
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.game_preview__actions button:nth-of-type(1) {
  left: 68px;
  box-shadow: 6px 5px 2px rgb(0 0 0 / 50%), 4px 0px 1px #9dd591;
}

.game_preview__actions button:nth-of-type(2) {
  left: 72%;
  box-shadow: 4px 3px 3px rgb(0 0 0 / 50%), 3px 0px 1px #9dd591;
}

.game_preview__actions button::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -16px;
  height: 8px;
  width: 84px;
  border-radius: 6px 6px 0 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1) 98%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.game_preview__actions button::after {
  content: '';
  position: absolute;
  left: -10px;
  top: -16px;
  height: 10.5px;
  width: 83px;
  border-radius: 6px;
  border-bottom: solid 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 5px rgb(0 0 0 / 50%);
  background: linear-gradient(
    to right,
    #579c66,
    #579c66 5px,
    #6dad7b 18px,
    #e9ffe8 36px,
    #9dd591 53px,
    #6bb765 103px,
    #142e16 100%
  );
}

.game_preview__back {
  width: 243px;
  height: 350px;
  background-position: center center !important;
  background-size: cover !important;
  border-radius: 4px;
  transform: rotateY(180deg) translateZ(14px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* overflow: hidden; */
}

.game_preview__back_open {
  animation: openCaseBack 500ms ease-in-out forwards;
  background-color: black !important;
  outline: 1px solid black;
  width: 250px;
  border-top-width: 7px !important;
  border-left-width: 2px !important;
  background-image: none !important;
  height: 380px;
}

.game_preview__back_open_details {
  height: 100%;
  width: 100%;
  cursor: default;
  transform: rotateY(180deg);
  /* backface-visibility: hidden; */
}

.game_preview__back_open_details > img {
  height: 100%;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.game_preview__bottom {
  width: 243px;
  height: 28px;
  transform: rotateX(-90deg) translateZ(331px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 30px;
}

.bottom_open {
  width: 253px;
  transform: rotateX(-89deg) rotate(45deg) translateZ(340px) translateY(235px);
  top: 36px;
  left: 40px;
  cursor: default;
}

.game_preview__box {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 600ms ease-in-out;
  /* transform: rotateY(-90deg) rotateX(0deg);    width: 27px;
    height: 380px;
    background-position: 265px 0px;
    background: var(--color-theme);
    transform: rotateY(-90deg) translateZ(13px);
    position: absolute;
    top: 0;
    left: 0px;
    border-radius: 4px; */
  /* transform: rotateY(-5deg) rotateX(1deg); */
  /* transform: rotateY(-8deg) rotateX(5deg); */
}

.game_preview__box:hover {
  transform: rotateY(-20deg) rotateX(2deg) scale(1);
  /* transform: rotateY(-24deg) rotateX(4deg) scale(1.1); */
}

.game_preview__box:hover .game_preview__gradient {
  height: 90%;
  opacity: 0.95;
}

.box_open {
  transform: rotateY(-4deg) rotateX(1deg) scale(1.1) !important;
}

.box_open:hover {
  transform: rotateY(-4deg) rotateX(1deg) scale(1.1) !important;
  cursor: default;
}

.game_preview__disc {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 120px;
  right: 4px;
  height: 85px;
  width: 85px;
  padding: 75px;
  /* background-position: center; */
  filter: drop-shadow(0px 0px 4px black);
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border-style: inset;
  border-width: 3px;
  /* border-image-source: conic-gradient(
    white,
    white,
    white,
    grey,
    grey,
    violet,
    deepskyblue,
    aqua,
    palegreen,
    yellow,
    orange,
    red,
    grey,
    grey,
    white,
    white,
    white,
    white,
    grey,
    grey,
    violet,
    deepskyblue,
    aqua,
    palegreen,
    yellow,
    orange,
    red,
    grey,
    grey,
    white
  );
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); */
  border-image-slice: 60 30;
}

.game_preview__disc::before,
.game_preview__disc::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: inherit;
  box-shadow: 0 0 1px grey;
  box-sizing: border-box;
}

.game_preview__disc::before {
  width: 30%;
  height: 30%;
  margin: -15% 0 0 -15%;
  background-clip: padding-box;
  border: 10px solid rgba(0, 0, 0, 0.5);
}

.game_preview__disc::after {
  width: 18%;
  height: 18%;
  margin: -9% 0 0 -9%;
  background-clip: padding-box;
  border: 10px solid rgba(0, 0, 0, 0.75);
  filter: drop-shadow(0 0 2px grey);
}

.game_preview__disc.playing_disc {
  animation: spinDisc 200ms linear 0s infinite;
  filter: drop-shadow(0px 0px 3px var(--color-theme));
}

.game_preview__disc_center {
  position: absolute;
  top: 89px;
  left: 89px;
  height: 56px;
  width: 56px;
  background: conic-gradient(
    white,
    white,
    white,
    grey,
    grey,
    violet,
    deepskyblue,
    aqua,
    palegreen,
    yellow,
    orange,
    red,
    grey,
    grey,
    white,
    white,
    white,
    white,
    grey,
    grey,
    violet,
    deepskyblue,
    aqua,
    palegreen,
    yellow,
    orange,
    red,
    grey,
    grey,
    white
  );
  border-radius: 50%;
}

.game_preview__disc_console_banner {
  position: absolute;
  display: flex;
  /* background: blue; */
  height: 35px;
  padding-bottom: 5px;
  width: 100%;
  bottom: 0px;
  right: 0;
  text-align: center;
  pointer-events: none;
  align-items: center;
  justify-content: center;
}

.game_preview__disc_console_banner > .gamecube {
  margin-left: 0;
  margin-bottom: 3px;
  height: 23px;
  width: 96px;
}

.game_preview__front {
  width: 243px;
  height: 345px;
  border-radius: 4px;
  z-index: 10;
  transform: rotateY(0deg) translateZ(14px);
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* outline: 2px solid black; */
}

.game_preview__front_open {
  animation: openCaseFront 800ms ease-in-out forwards;
}

.game_preview__front_inside {
  height: 380px;
  transform: rotateY(39.9deg) translateZ(-175px);
  border-radius: 6px;
  border-top-left-radius: 0px;
  background-position: center center;
  background-size: cover;
  cursor: default;
  outline: 1px solid black;
  border-bottom-left-radius: 4px;
}

.game_preview__front_inside img:nth-of-type(2) {
  width: 44px;
  max-height: 65px;
  bottom: 14px;
}

.game_preview__front_inside_details {
  height: 100%;
  border-radius: 4px;
}

.game_preview__manual {
  height: 97.3%;
  width: 97%;
  opacity: 1;
  position: absolute;
  top: 3px;
  z-index: 0;
  margin: -1px 6px 0px 0px;
  transform-style: preserve-3d;
  perspective: 340px;
  filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.75));
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.game_preview__manual_middle_crease {
  height: 370px;
  width: 4px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  box-shadow: -3px 0px 10px black;
  top: 2px;
  left: -2px;
  transform: rotate3d(0, 8, 1, 0deg);
  border-top-left-radius: 4px;
}

.game_preview__manual_bottom_crease {
  height: 228px;
  width: 4px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: -107px;
  left: 112px;
  transform: rotate(90deg) rotateY(56deg);
}

.game_preview__front_banner {
  display: flex;
  align-items: center;
  position: absolute;
  top: -26px;
  width: 100.1%; /* Give extra .1 so border extends across completely */
  /* width: 103%; Give extra 3% so banner extends across the case completely */
  height: 28px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid white;
  overflow: hidden;
}

.gamecube_banner {
  padding-bottom: 3px;
}

.ps1_banner {
  top: 164px;
  right: 45px;
  width: 150%;
  height: 32px;
  border: 0;
  border-radius: 0;
  z-index: 10;
  transform: rotate(-90deg);
}

.ps2_banner {
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.ps2_banner img {
  margin-right: 0px;
}

.ps2_banner p {
  margin-left: 8px;
  font-size: 0.65rem;
  margin-bottom: 2px;
  text-shadow: 2px 2px 1px black !important;
}

.ps3_banner {
  border-bottom: 2px solid maroon;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 70%,
    rgba(105, 105, 105, 0.7) 100%
  ) !important;
  top: -28px;
}

.ps3_banner img {
  height: 62%;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0px;
}

.ps3_banner p {
  text-shadow: 2px 2px 1px black !important;
  margin-bottom: 2px;
}

.ps4_banner {
  height: 32px;
}

.ps4_banner p {
  font-size: 1.25rem;
  text-shadow: 2px 2px 1px black !important;
  margin-bottom: 4px;
}

.seriesX_banner {
  justify-content: center;
}

.seriesX_banner p {
  text-transform: none !important;
  font-family: verdana;
}

.wii_banner {
  border-bottom: 2px solid grey;
  overflow: visible;
}

.xbox360_banner {
  position: absolute;
  top: -27px;
  height: 31px;
}

.xbox360_banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
  position: absolute;
}

.game_preview__front_banner p {
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
  /* font-family: verdana; */
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 0px 1px #919191, 1px 0px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 1px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 1px 1px #919191, 1px 1px 1px #919191,
    1px 1px 1px #919191, 1px 1px 6px rgb(16 16 16 / 40%),
    1px 2px 6px rgb(16 16 16 / 20%), 1px 3px 3px rgb(16 16 16 / 20%),
    1px 3px 1px rgb(16 16 16 / 40%);
}

.game_preview__gradient {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: top right;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background: linear-gradient(
    0turn,
    transparent 0%,
    rgba(200, 200, 200, 0.4) 5%,
    rgba(255, 255, 255, 0.2) 15%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.game_preview__left {
  width: 27px;
  height: 380px;
  background-position: 265px 0px;
  background: var(--color-theme);
  transform: rotateY(-90deg) translateZ(13px);
  position: absolute;
  top: 0;
  left: 0px;
  /* border-radius: 4px; */
}

.left_open {
  height: 332px;
  transform: rotateY(-56deg) rotate(180deg) translateZ(89px);
  top: 35px;
  left: 12px;
  border: 1px solid transparent;
  border-right: 3px solid black;
  border-radius: 3px;
  width: 20px;
  background: black;
  overflow: hidden;
}

.left_open::after {
  content: '';
  position: absolute;
  margin: 78px -22px -10px -29px;
  width: 40px;
  height: 195px;
  border-radius: 40%;
  box-shadow: 0 0 0 250px var(--color-theme);
}

.game_preview__manual_tab_bottom {
  height: 21px;
  width: 50px;
  background: var(--color-theme);
  position: absolute;
  bottom: 35px;
  opacity: 0.9;
  z-index: 3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 1));
  left: -1px;
}

.game_preview__manual_tab_top {
  height: 21px;
  width: 50px;
  background: var(--color-theme);
  opacity: 0.9;
  z-index: 3;
  position: absolute;
  top: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1));
  left: 0px;
}

.game_preview__middle {
  height: 304px;
  /* height: 291px; */
  position: absolute;
}

.game_preview__middle.middle_open {
  width: 11px;
  top: 47px;
  left: 113px;
  border: inset rgba(0, 0, 0, 0.75);
  border-width: 2px;
  border-radius: 3px;
  transform: translateZ(-53px) rotateY(4deg);
}

.game_preview__modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
}

.game_preview__platform_logo {
  height: 24px;
  width: 35px;
  filter: drop-shadow(1px 1px 1px #000);
  object-fit: contain;
}

.game_preview__right {
  width: 24px;
  height: 375px;
  /* height: 345px; */
  transform: rotateY(90deg) translateZ(228px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  border-radius: 4px;
  border: 1px solid black;
}

.right_open {
  background: black !important;
  width: 26px;
  height: 282px;
  transform: rotateY(67deg) translateZ(327px);
  top: 65px;
  left: -29px;
  border-left: 2.5px solid black;
  border-radius: 4px;
  overflow: hidden;
  cursor: default;
}

.right_open::after {
  content: '';
  position: absolute;
  margin: 50px -22px -10px -27px;
  width: 40px;
  height: 173px;
  border-radius: 40%;
  box-shadow: 0 0 0 250px var(--color-theme);
}

.game_preview__top {
  width: 243px;
  height: 28px;
  transform: rotateX(90deg) translateZ(14px);
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
}

.top_open_right {
  width: 246px;
  transform: rotateX(90deg) rotateZ(34deg) translateZ(14px) translateY(-191px);
  border-radius: 10px;
}

.top_open_left {
  position: absolute;
  top: 0;
  height: 31px;
  width: 244px;
  transform: rotateX(90deg) rotateZ(-40deg) translateZ(18px) translateY(-190px)
    translateX(2px);
  /* background: blue; */
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.mario_pixel {
  position: absolute;
  height: 70px;
  left: 45px;
  bottom: 74px;
  width: 50px;
  opacity: 1;
  transform: perspective(510px) translateZ(-125px) rotateY(-15deg)
    translateY(0px); /* 72px */
  z-index: 1;
  filter: drop-shadow(2px 2px 2px black);
  /* margin-bottom: 25px; */
}

.down_pipe {
  animation: lowerMario 1s linear forwards;
}

.gamecube {
  height: 24px;
  width: 125px;
  margin-left: 62px;
  object-fit: fill;
}

.game_theme {
  background: var(--color-theme);
  opacity: 0.9;
  position: absolute;
  top: 106px;
  left: 105px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.playstation_old {
  height: 70%;
  width: 30px;
  /* filter: drop-shadow(1px 1px 1px #000); */
  object-fit: contain;
  margin-bottom: 3px;
  margin-right: 4px;
}

.playstation_new {
  height: 70%;
  width: 32px;
  margin-left: 8px;
  margin-right: 10px;
  margin-bottom: 3px;
}

.nes {
  height: 60px;
  width: 140px;
}

.nintendo-ds {
  height: 119px;
  width: 130px;
  position: absolute;
  top: -44px;
}

.nintendo-3ds {
  height: 20px;
  width: 150px;
  margin: 0 auto;
}

/* .n64 {
  height: 23px;
  width: 42px;
  filter: drop-shadow(2px 2px 1px #000);
} */

.steam {
  height: 21px;
  width: 35px;
}

.switch {
  height: 49px;
  width: 49px;
  filter: none;
  position: relative;
  top: 24px !important;
  left: 0px;
}

.switch_case {
  border-top: 4px solid rgb(228, 0, 15) !important;
  border-bottom: 4px solid rgb(228, 0, 15) !important;
  border-right: 4px solid rgb(228, 0, 15) !important;
  height: 370px;
}

.switch_case_back {
  border-top: 4px solid rgb(228, 0, 15) !important;
  border-bottom: 4px solid rgb(228, 0, 15) !important;
  border-left: 4px solid rgb(228, 0, 15) !important;
  height: 370px;
}

.switch_case_right {
  background: black !important;
  width: 26px;
  height: 280.5px;
  transform: rotateY(72deg) translateZ(328px);
  top: 59px;
  left: -29px;
  border-left: 2.5px solid black;
  border-radius: 4px;
  overflow: hidden;
  cursor: default;
}

.switch_case_open {
  animation: openCaseBackSwitch 500ms ease-in-out forwards;
}

.switch_banner {
  top: 0px !important;
  left: -0.1px;
  border-bottom: 0 !important;
  overflow: visible !important;
  width: 101%;
  height: 1px;
}

.xbox {
  height: 18px;
  width: 29px;
}

.wii {
  height: 50px;
  width: 64px;
  position: absolute;
  right: -7px;
  top: -2px;
  border-radius: 0%;
  background: white;
  filter: none;
  border-bottom-left-radius: 40%;
  border-left: 0;
  border-bottom: 2px solid grey;
}

.wiiU {
  width: 53px;
  height: 58px;
  margin-left: 7px;
}

.game_preview__wrapper {
  background-size: 500px 345px;
  backface-visibility: visible;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  width: 243px;
  height: 445px; /* The width is 345px but we have to enlarge the area because of the drop shadow. */
  margin: 0 auto;
  overflow: visible;
  perspective: 690px;
  perspective-origin: 50% 50%;
  filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.7));
}

.trailer {
  width: 100% !important;
  height: 35% !important;
}

.trailer_placeholder {
  width: 100%;
  height: 100%;
}

/* Front Side Case Animation */
@keyframes openCaseFront {
  0% {
    transform: rotateY(0deg) translateZ(14px);
  }

  100% {
    transform: rotateY(-137deg) translateZ(155px);
    backface-visibility: hidden;
  }
}
/* Back Side Case Animation */
@keyframes openCaseBack {
  0% {
    transform: rotateY(180deg) translateZ(14px);
  }

  100% {
    transform: rotateY(146deg) translateZ(175px);
  }
}
/* Right Side Case Animation */
@keyframes openCaseRight {
  0% {
    transform: rotateY(180deg) translateZ(14px);
  }

  100% {
    transform: rotateY(146deg) translateZ(158px);
    height: 366px;
  }
}
/* Left Side Case Animation */

@keyframes openCaseLeft {
  0% {
    transform: rotateY(180deg) translateZ(14px);
  }

  100% {
    transform: rotateY(146deg) translateZ(158px);
    height: 366px;
  }
}

/* Back Animation for Switch Case */
@keyframes openCaseBackSwitch {
  0% {
    transform: rotateY(180deg) translateZ(14px);
  }

  100% {
    transform: rotateY(146deg) translateZ(175px);
    height: 370px;
  }
}

@keyframes spinDisc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lowerMario {
  0% {
    transform: perspective(510px) translateZ(-125px) rotateY(-15deg)
      translateY(0px);
  }

  100% {
    transform: perspective(510px) translateZ(-125px) rotateY(-15deg)
      translateY(85px);
  }
}

@media screen and (max-width: 500px) {
  .box_open {
    transform: rotateY(-5deg) rotateX(1deg) scale(1) !important;
  }

  .box_open:hover {
    transform: rotateY(-5deg) rotateX(1deg) scale(1) !important;
    cursor: default;
  }

  .game_preview__box {
    /* right: 4px; */
    transform: rotateY(-5deg) rotateX(1deg) scale(0.9);
  }

  .game_preview__box:hover {
    transform: rotateY(-28deg) rotateX(4deg) scale(0.9);
  }

  .right_open {
    height: 284px;
    transform: rotateY(67deg) translateZ(332px);
    top: 64px;
  }
}

@media screen and (max-width: 650px) {
  .game-details__trailer {
    height: 11rem;
  }

  .game-details {
    width: 20rem;
    height: 17.7rem;
    top: -13px;
    left: -50px;
  }

  .game-details__details {
    padding: 0.35em 0.8em 1em;
  }

  .game-details__name {
    font-size: 1.05rem;
    padding-bottom: 2px;
  }

  .game-details__platforms {
    padding: 10px 0 0;
  }

  .game-details__released {
    margin-bottom: 5px;
  }

  .game-details__tags {
    bottom: 16px;
  }

  .row__poster_add_icon {
    height: 19px;
    width: 19px;
    right: 6px;
    top: 3.4px;
  }

  .row__poster_music_icon {
    height: 20px;
    width: 20px;
    right: 36px;
    top: 3px;
  }
}

@media screen and (min-width: 1440px) {
  .game_preview__back_open {
    height: 420px;
  }

  .game_preview__disc {
    top: 150px;
  }

  .game_preview__front_inside {
    height: 420px;
  }

  .game_preview__middle {
    height: 338px;
    top: 46px !important;
    position: absolute;
  }

  .right_open {
    height: 308px;
  }

  .left_open {
    height: 362px;
    transform: rotateY(-52deg) rotate(180deg) translateZ(90px);
  }

  .top_open_right {
    width: 250px;
    transform: rotateX(90deg) rotateZ(34deg) translateZ(15px) translateY(-191px);
    border-radius: 4px;
  }
}
