.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto -236px;
  min-height: 100vh;
  background-color: transparent;
  max-width: 450px;
  overflow: hidden;
  padding: 0 20px;
}

.login__brand {
  position: absolute;
  top: -170px;
  left: -130px;
  z-index: 2;
}

.login__loading {
  position: relative;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loading_spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.login__wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.form__create_account {
  width: 100%;
  font-size: 0.9rem;
}

.form__create_account > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form_input {
  border: 0;
  border-radius: 4px;
  color: #fff;
  height: 20px;
  padding: 12px 14px 12px;
  outline: 0;
  background: #323232;
}

.error {
  border-bottom: 2px solid rgba(255, 0, 0, 0.55);
  position: relative;
}

.form_input:focus {
  background: #434343;
}

.form_label {
  margin-bottom: 5px;
}

.form__submit_btn {
  width: 100%;
  padding: 15px;
  margin: 3rem 0 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #9147ff;
  font-weight: 600;
  border-radius: 6px;
  border: 0;
  font-size: 1.1rem;
}

.login__form_actions {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  position: relative;
}

.form_actions_placeholder {
  position: absolute;
  top: 16px;
  left: 13px;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: all 150ms ease-in;
}

.focused {
  transition: all 150ms ease-in;
  transform: scale(0.82) translate(-9px, -40px);
  font-size: 1rem;
  color: #fff;
}

.password_focused {
  transition: all 150ms ease-in;
  transform: scale(0.82) translate(-12px, -40px);
  font-size: 1rem;
  color: #fff;
}

.loading_dot {
  height: 30px;
  width: 30px;
  background: white;
  border-radius: 50%;
  margin: 0 10px;
}

.first {
  animation: dotJump 250ms forwards;
}
.second {
  animation: dotJump 250ms 0.25s forwards;
}
.third {
  animation: dotJump 250ms 0.5s forwards;
}

.loading__dots {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login__auth_error {
  position: absolute;
  top: 43px;
  left: 3px;
  font-size: 0.9rem;
  color: red;
  font-weight: 700;
}

.login__form_container {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 0px;
  width: 100%;
  min-height: 525px;
  padding: 60px 68px 40px;
  box-shadow: rgb(0 0 0 / 80%) 0px 3px 8px;
}

.login__form_container h1 {
  margin-bottom: 40px;
}

.login__form_wrapper {
  width: 100%;
  z-index: 2;
  width: 100%;
}

.login__background {
  position: absolute;
  z-index: -1;
  top: -810px;
  left: -400px;
  opacity: 0.7;
  transform: perspective(1500px) rotateX(6deg) rotateY(-11deg) rotateZ(4deg);
  width: 170%;
  mix-blend-mode: exclusion;
}

.login__img {
  height: 100%;
  min-height: 22rem;
  max-height: 22rem;
  width: 15rem;
  margin: 2.5px 6px;
  /* border: 3px solid transparent; */
}

.login__image_loading {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__name {
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  margin-left: 5px;
  opacity: 0.5;
  font-family: 'Anton', sans-serif;
  letter-spacing: 4px;
}

/* Mobile Devices */
@media screen and (max-width: 750px) {
  .form__create_account {
    font-size: 0.85rem;
  }

  .form__submit_btn {
    margin: 3rem 0 1rem;
  }

  .login__img {
    height: 100%;
    min-height: 10rem;
    max-height: 10rem;
    width: 12rem;
    margin: 0;
    border: 3px solid transparent;
  }

  .login__name {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .login__background {
    /* top: -200px; */
    left: -240px;
    width: 170%;
  }
}

/* LOGIN AUTH LOAD SPIN ANIMATION */
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* LOGIN PAGE LOAD */
@keyframes dotJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* For smaller mobile devices, remove background images */
@media screen and (max-width: 375px) {
  .login {
    background: black;
  }
  .login__background {
    display: none;
  }

  .login__brand {
    left: -90px;
  }

  .login__form_container {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 0px;
    width: 100%;
    min-height: 560px;
    padding: 10px 8px 10px;
  }
}

@media screen and (max-width: 430px) {
  .login__background {
    top: -480px;
    left: -160px;
    width: 270%;
  }

  .login__form_container {
    min-height: 445px;
    padding: 45px 40px 40px;
  }

  .login__form_container h1 {
    margin-bottom: 36px;
  }

  .login__img {
    min-height: 11rem;
    max-height: 11rem;
    width: 10rem;
    /* margin: 0;
    border: 3px solid transparent; */
  }
}

/* Tablets to laptops */
@media screen and (min-width: 751px) and (max-width: 1280px) {
  .login__background {
    width: 170%;
    top: -570px;
    left: -308px;
  }

  .login__img {
    min-height: 16rem;
    max-height: 16rem;
    width: 13rem;
  }
}

/* For larger screens and desktops, increease image sizes */
@media screen and (min-width: 1510px) {
  .login__background {
    top: -440px;
    left: -600px;
  }

  /* .login__img {
    min-height: 15rem;
    max-height: 15rem;
    width: 18rem;
  } */
}
